<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvfq.code">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lvfq.code.service.ServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".notification.NotificationIntentActivity" />

        <activity android:name="me.lvfq.multi_image_selector.MultiImageSelectorActivity" />
        <activity android:name="me.lvfq.multi_image_selector.ImagePagerActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <!--
        enabled 是否启用这个服务 ，
        exported 是否允许除了当前程序之外的其他程序访问这个服务
        -->
        <service
            android:name=".service.MyBindService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.demo.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".alarm.AlarmService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>